@import './variables';

.selectionField {
  height: 50px;
  border-radius: $fieldRadius;
  border: 0px solid #F0F0F0;
  background: var(--v-border-base);
  position: relative;
  padding: 0 6px;
}

.inputFieldLabel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--v-label-base);
}

.selectedValue {
  font-size: 14px;
  line-height: 19px;
  color: var(--v-dark-base);
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}