<template>
  <v-container>
    <v-row class="text-center">
      <v-col class="mb-4">
        <v-btn
          depressed
          color="primary"
          @click="dialog = true"
        >
          Fund your acc
        </v-btn>
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialog"
      max-width="790"
    >
      <div class="dialog">
        <div
          class="close"
          @click="dialog = false"
        >
          <v-icon>close</v-icon>
        </div>

        <v-tabs
          v-model="tab"
          slider-size="4"
          background-color="#00000000"
          height="100%"
          active-class="avtiveTab"
          show-arrows
        >
          <v-tabs-slider color="dark"></v-tabs-slider>

          <v-tab
            v-for="item in tabNames"
            :key="item"
            class="tab"
          >
            <div class="tabName">
              {{ item }}
            </div>
          </v-tab>

          <v-tab-item
            transition="false"
            reverse-transition="false"
            class="contentBlock"
          >
            <standardSelect
              :items="depositOptions"
              label="Select"
              @value="depositSelect = $event"
              class="indentBetweenBlocks"
            />

            <standardSelect
              :items="currencyOptions"
              label="Choose currency"
              @value="depositCurrency = $event"
              class="indentBetweenBlocks"
            />

            <div class="qrCode">
              <img src="../statics/qrCode.jpg" />
              <div>
                FGBfvcnkfdnvkk74365832ybvcvdfvfvb
              </div>
            </div>

            <v-btn
              depressed
              color="primary"
              class="actionBlock indentBetweenBlocks"
              height="50"
            >
              Copy
            </v-btn>
          </v-tab-item>

          <v-tab-item
            transition="false"
            reverse-transition="false"
            class="contentBlock"
          >
            <standardSelect
              :items="exchangeOptions"
              label="Choose exchange"
              @value="typeExchange = $event"
              class="indentBetweenBlocks"
            />

            <standardSelect
              :items="currencyOptions"
              label="Choose currency"
              @value="withdrawalCurrency = $event"
              class="indentBetweenBlocks"
            />

           <v-text-field
              v-model="withdrawAmount"
              background-color="border"
              solo
              flat
              v-mask="mask"
              class="selectionField selectedValue indentBetweenBlocks"
            >
              <template v-slot:label>
                <div class="inputFieldLabel ellipsis">
                  Withdraw amount
                </div>
              </template>
              <template v-slot:append-outer>
                <v-btn
                  depressed
                  color="alpha"
                  class="maxButton"
                  height="32"
                  width="47"
                  x-small
                  @click="withdrawAmount = '1 200'"
                >
                  <div class="maxButtonLabel">
                    Max
                  </div>
                </v-btn>
              </template>
            </v-text-field>

            <v-btn
              depressed
              color="primary"
              class="actionBlock indentBetweenBlocks"
              height="50"
            >
              Withdraw
            </v-btn>
          </v-tab-item>

          <v-tab-item
            transition="false"
            reverse-transition="false"
            class="contentBlock"
          >
            <div class="indentBetweenBlocks">
              <div class="fieldTitle">
                From
              </div>
              <standardSelect
                :items="exchangeOptions"
                label="Choose exchange"
                @value="fromСurrency = $event"
              />
            </div>

            <div class="indentBetweenBlocks">
              <div class="fieldTitle">
                To
              </div>
              <standardSelect
                :items="exchangeOptions"
                label="Choose exchange"
                @value="ещСurrency = $event"
              />
            </div>

            <standardSelect
              :items="currencyOptions"
              label="Choose currency"
              @value="rebalanceCurrency = $event"
              class="indentBetweenBlocks"
            />

            <v-text-field
              v-model="amount"
              background-color="border"
              solo
              flat
              v-mask="mask"
              class="selectionField selectedValue indentBetweenBlocks"
            >
              <template v-slot:label>
                <div class="inputFieldLabel ellipsis">
                  Enter amount
                </div>
              </template>
            </v-text-field>

            <div class="share">
              <div>
                {{ `Balance:` }}
                <strong>{{ balance }}</strong>
              </div>
              <div>
                <v-btn
                  v-for="(item, index) in share"
                  :key="index"
                  depressed
                  x-small
                  color="alpha"
                  height="32"
                >
                  {{ item.type === 'Split' ? item.type : `${item.value}${item.type}` }}
                </v-btn>
              </div>
            </div>
          </v-tab-item>
        </v-tabs>
      </div>
    </v-dialog>
  </v-container>
</template>

<script>
  import { mask } from 'vue-the-mask'
  import standardSelect from './standardSelect'

  export default {
    name: 'modal',

    components: {
      standardSelect
    },

    data: () => ({
      dialog: false,
      // dialog: true,
      tab: null,
      depositSelect: '',
      depositCurrency: '',
      typeExchange: '',
      withdrawalCurrency: '',
      withdrawAmount: null,
      fromСurrency: '',
      toСurrency: '',
      rebalanceCurrency: '',
      amount: null,
      balance: '0.04763864',
      mask: '### ### ### ###.########',
    }),

    computed: {
      tabNames: function() {
        return ['Deposit', 'Withdraw', 'Rebalance']
      },

      depositOptions: function() {
        return ['Kraken', 'Kraken_2', 'Kraken_3']
      },
      
      currencyOptions: function() {
        return ['RUB', 'USD', 'THB', 'EUR', 'CNY']
      },

      exchangeOptions: function() {
        return ['Option 1', 'Option 2', 'Option 3']
      },

      share: function() {
        return [
          {
            type: '%',
            value: 10
          },
          {
            type: '%',
            value: 25
          },
          {
            type: '%',
            value: 50
          },
          {
            type: '%',
            value: 100
          },
          {
            type: 'Split',
            value: 0
          },
        ]
      },
    },

    directives: {
      mask,
    }
  }
</script>

<style lang="scss" scoped>
@import '../styles/variables';
@import '../styles/mixins';

.dialog {
  border-radius: 5px;
  height: 601px;
  background: #ffffff;
  padding: 33px 40px 70px 40px;
  position: relative;

  .tab:not(:last-child) {
    margin-right: 40px;
  }
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  color: var(--v-label-base);
  right: 30px;
  top: 30px;
  cursor: pointer;

  @media (max-width: 600px) {
    right: 15px;
    top: 15px;
  }
}

.contentBlock {
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 380px;
  width: 100%;
  height: 100%;

  .indentBetweenBlocks:not(:first-child) {
    margin-top: 20px;
  }
}

.tab {
  text-transform: none;
  padding: 0px;
  width: max-content;
  min-width: max-content;
  max-width: max-content;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 14px;
}

.avtiveTab {
  .tabName {
    color: var(--v-dark-base);
  }
}

.tabName {
  color: var(--v-label-base);
}

.qrCode {
  margin-top: 37px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    width: 119px;
  }

  &>*:last-child {
    margin-top: 27px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--v-dark-base);
    word-break: break-all;
  }
}

.actionBlock {
  width: 100%;
  border-radius: $fieldRadius;
  text-transform: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.maxButton {
  border-radius: $fieldRadius;
  text-transform: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: var(--v-white-base);;
  position: absolute;
  right: 9px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.maxButtonLabel {
  color: var(--v-white-base);;
}

.fieldTitle {
  margin-right: auto;
  margin-left: 18px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--v-dark-base);
}

.indentBetweenBlocks {
  width: 100%;
}

.share {
  display: flex;
  flex-direction: column;
  background: var(--v-white-base);;
  border: 1px solid var(--v-border-base);
  box-sizing: border-box;
  box-shadow: 0px 6px 6px rgba(60, 72, 76, 0.06);
  border-radius: $fieldRadius;
  width: 100%;
  padding: 21px 20px 20px 20px;

  &>*:first-child {
    background: rgba(42, 101, 145, 0.1);
    border-radius: $fieldRadius;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: var(--v-primary-base);
    padding: 7px 10px;
    margin-right: auto;
  }

  &>*:nth-child(2) {
    display: flex;
    flex-wrap: wrap;

    &>* {
      text-transform: none;
      border-radius: $fieldRadius;
      width: max-content;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: var(--v-white-base);;
    }

    &>* {
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}
</style>
