<template>
  <v-select
    v-model="selected"
    :items="items"
    background-color="border"
    class="selectionField"
    solo
    flat
    @input="$emit('value', selected)"
  >
    <template v-slot:label>
      <div class="inputFieldLabel ellipsis">
        {{ label }}
      </div>
    </template>

    <template v-slot:append>
      <v-icon small color="label">keyboard_arrow_down</v-icon>
    </template>

    <template v-slot:selection="{ item }">
      <div class="selectedValue">
        {{ item }}
      </div>
    </template>
  </v-select>
</template>

<script>
  export default {
    name: 'standardSelect',

    props: {
      items: { type: Array, default: () => { [] } },
      label: { type: String, default: '' }
    },

    data: () => ({
      selected: null,
    })
  }
</script>

<style lang="scss" scoped>
@import '../styles/mixins';
</style>
