<template>
  <v-app>
    <v-content>
      <modal />
    </v-content>
  </v-app>
</template>

<script>
import modal from './components/modal';

export default {
  name: 'App',

  components: {
    modal,
  },

  data: () => ({
    //
  }),
};
</script>
